In [38]:
import pandas as pd

#This python notebook file goes through the iterations of data cleaning we performed as we created our visualization
#PLEASE DON'T RUN THIS - we only kept the last data file in our github repo, but you can see the contents of the others here
    #without running again

In [39]:
#import original data given to us by S-L partner, Urban Beekeeping Laboratory
ds = pd.read_excel(r'AllVisits_24FEB2020.xlsx')
ds

            Date  HiveID  ZipCode BeeCount BroodCount HoneyCount
0     2011-04-02  2088.0   2822.0        6          0          3
1     2011-04-02  1862.0   1742.0        6          0          5
2     2011-04-05  1891.0   1741.0      NaN        NaN        NaN
3     2012-04-07    30.0   2116.0       28         18          0
4     2012-04-16    33.0   2118.0       20         18          8
5     2012-04-16    51.0   2537.0       20          0          0
6     2012-04-16    52.0   2537.0       20          0          0
7     2012-04-16    53.0   2537.0       20          0          0
8     2012-04-16    53.0   2537.0      NaN        NaN        NaN
9     2012-04-16    54.0   2537.0       20          0          0
10    2012-04-16    55.0   2537.0       20          0          0
11    2012-04-16    56.0   2537.0       20          0          0
12    2012-04-17    65.0   2115.0       20          0          0
13    2012-04-17    39.0   2420.0       38         23         18
14    2012-04-19    45.0   2144.0       20          0          0
15    2012-04-19    27.0   2155.0       20          0          0
16    2012-04-19    28.0   2139.0       20          0          0
17    2012-04-19    51.0   2537.0        8          0          0
18    2012-04-19    52.0   2537.0        8          0          0
19    2012-04-19    53.0   2537.0        4          0          0
20    2012-04-19    54.0   2537.0       10          0          0
21    2012-04-19    55.0   2537.0        8          0          0
22    2012-04-19    56.0   2537.0        8          0          0
23    2012-04-20    69.0   2657.0        7          1         26
24    2012-04-21    77.0   2666.0        0          0          0
25    2012-04-21    78.0   2666.0        4          0          0
26    2012-04-21    79.0   2666.0        0          0          0
27    2012-04-21    80.0   2666.0       15         10          5
28    2012-04-21    81.0   2666.0       14          4          6
29    2012-04-21    82.0   2666.0       15          6         15
...          ...     ...      ...      ...        ...        ...
43397 2020-03-18  1409.0  10510.0      NaN        NaN        NaN
43398 2020-03-18  1806.0  10510.0      NaN        NaN        NaN
43399 2020-03-18  1794.0   6831.0      NaN        NaN        NaN
43400 2020-03-18  1795.0   6831.0      NaN        NaN        NaN
43401 2020-03-18  2172.0  10577.0      NaN        NaN        NaN
43402 2020-03-18  2683.0  10601.0      NaN        NaN        NaN
43403 2020-03-18  2796.0  10597.0      NaN        NaN        NaN
43404 2020-03-18  1874.0  10580.0      NaN        NaN        NaN
43405 2020-03-18  2406.0  10580.0      NaN        NaN        NaN
43406 2020-03-19  2754.0  60601.0      NaN        NaN        NaN
43407 2020-03-19  2755.0  60601.0      NaN        NaN        NaN
43408 2020-03-19  2774.0  60640.0      NaN        NaN        NaN
43409 2020-03-20  1698.0   7424.0      NaN        NaN        NaN
43410 2020-03-20  2474.0   7922.0      NaN        NaN        NaN
43411 2020-03-20  2620.0   7922.0      NaN        NaN        NaN
43412 2020-03-20  2621.0   7922.0      NaN        NaN        NaN
43413 2020-03-20  2753.0   7066.0      NaN        NaN        NaN
43414 2020-03-20  2679.0   8852.0      NaN        NaN        NaN
43415 2020-03-20  2680.0   8852.0      NaN        NaN        NaN
43416 2020-03-20  2681.0   8852.0      NaN        NaN        NaN
43417 2020-03-20  2765.0   8512.0      NaN        NaN        NaN
43418 2020-05-05     NaN      NaN      NaN        NaN        NaN
43419 2020-11-25  2497.0   2111.0       30          0          0
43420 2020-12-06   129.0   2657.0      NaN        NaN        NaN
43421 2020-12-06  2271.0   2657.0      NaN        NaN        NaN
43422 2020-12-06  2508.0   2657.0      NaN        NaN        NaN
43423 2020-12-06  2509.0   2657.0      NaN        NaN        NaN
43424 2020-12-06  2535.0   2657.0      NaN        NaN        NaN
43425 2020-12-06    57.0   2657.0      NaN        NaN        NaN
43426 2020-12-06    71.0   2666.0       35        NaN        NaN

[43427 rows x 6 columns]

In [40]:
#we use a csv of all the zipcodes of massachusetts
zips = pd.read_csv(r'MA_zip_cods.csv', header=None)
zips = zips[0]
zips = zips.tolist()
zips

[2351.0,
 2018.0,
 1718.0,
 1719.0,
 1720.0,
 2743.0,
 2745.0,
 1220.0,
 2344.0,
 1001.0,
 1230.0,
 1266.0,
 1201.0,
 1653.0,
 2134.0,
 1913.0,
 1002.0,
 1003.0,
 1004.0,
 1059.0,
 1810.0,
 1812.0,
 1899.0,
 5501.0,
 5544.0,
 2535.0,
 2474.0,
 2475.0,
 2476.0,
 2475.0,
 1430.0,
 1431.0,
 1330.0,
 1721.0,
 1222.0,
 2339.0,
 2702.0,
 1331.0,
 2703.0,
 2763.0,
 1501.0,
 2466.0,
 2322.0,
 1432.0,
 1434.0,
 2457.0,
 1436.0,
 2212.0,
 1370.0,
 2630.0,
 1005.0,
 2664.0,
 1062.0,
 1115.0,
 1199.0,
 2151.0,
 1223.0,
 1223.0,
 1730.0,
 1731.0,
 1007.0,
 2019.0,
 2478.0,
 2479.0,
 2779.0,
 1224.0,
 1230.0,
 1503.0,
 1337.0,
 1915.0,
 1915.0,
 1029.0,
 1821.0,
 1822.0,
 1504.0,
 1008.0,
 1364.0,
 1740.0,
 1009.0,
 2108.0,
 2109.0,
 2110.0,
 2111.0,
 2112.0,
 2113.0,
 2114.0,
 2115.0,
 2116.0,
 2117.0,
 2118.0,
 2119.0,
 2120.0,
 2121.0,
 2122.0,
 2123.0,
 2124.0,
 2125.0,
 2126.0,
 2127.0,
 2128.0,
 2129.0,
 2130.0,
 2131.0,
 2132.0,
 2133.0,
 2134.0,
 2135.0,
 2136.0,
 2137.0,
 2163.0,
 2196.0,
 2199.0,
 2201.0,
 2203.0,
 2204.0,
 2205.0,
 2206.0,
 2210.0,
 2211.0,
 2212.0,
 2215.0,
 2217.0,
 2222.0,
 2228.0,
 2241.0,
 2266.0,
 2283.0,
 2284.0,
 2293.0,
 2297.0,
 2298.0,
 2201.0,
 2467.0,
 2266.0,
 2215.0,
 2532.0,
 2559.0,
 1719.0,
 1719.0,
 1921.0,
 1505.0,
 1835.0,
 2184.0,
 2185.0,
 2184.0,
 2020.0,
 2631.0,
 2324.0,
 2325.0,
 2325.0,
 2135.0,
 1107.0,
 1010.0,
 2301.0,
 2302.0,
 2303.0,
 2304.0,
 2305.0,
 1506.0,
 2445.0,
 2446.0,
 2447.0,
 2467.0,
 2447.0,
 2327.0,
 1338.0,
 1803.0,
 1805.0,
 2532.0,
 2542.0,
 1922.0,
 2138.0,
 2139.0,
 2140.0,
 2141.0,
 2142.0,
 2163.0,
 2238.0,
 2139.0,
 2021.0,
 1741.0,
 2330.0,
 2297.0,
 2534.0,
 2360.0,
 2632.0,
 2634.0,
 1546.0,
 2783.0,
 2539.0,
 1339.0,
 1346.0,
 2129.0,
 1507.0,
 1508.0,
 1509.0,
 1509.0,
 2712.0,
 2633.0,
 1824.0,
 2150.0,
 2493.0,
 1611.0,
 1225.0,
 1011.0,
 1012.0,
 2467.0,
 1013.0,
 1014.0,
 1020.0,
 1021.0,
 1022.0,
 2535.0,
 1247.0,
 1510.0,
 1778.0,
 2025.0,
 1253.0,
 1340.0,
 1742.0,
 1341.0,
 2635.0,
 1050.0,
 2637.0,
 1026.0,
 1002.0,
 2713.0,
 1226.0,
 1227.0,
 1923.0,
 2714.0,
 2747.0,
 2748.0,
 2026.0,
 2027.0,
 1342.0,
 2638.0,
 2639.0,
 2639.0,
 1432.0,
 1434.0,
 2715.0,
 2121.0,
 2122.0,
 2124.0,
 2125.0,
 2124.0,
 1516.0,
 2030.0,
 1826.0,
 1343.0,
 1571.0,
 1570.0,
 1827.0,
 2331.0,
 2332.0,
 2536.0,
 1364.0,
 2474.0,
 1504.0,
 2128.0,
 2228.0,
 2184.0,
 2333.0,
 1010.0,
 1515.0,
 2141.0,
 2355.0,
 1370.0,
 1342.0,
 2641.0,
 1516.0,
 2536.0,
 2717.0,
 1027.0,
 2645.0,
 1054.0,
 1028.0,
 1116.0,
 1904.0,
 1527.0,
 2186.0,
 2643.0,
 1029.0,
 2359.0,
 1463.0,
 1517.0,
 2537.0,
 2143.0,
 2718.0,
 1438.0,
 2032.0,
 2538.0,
 2472.0,
 2189.0,
 1270.0,
 2642.0,
 1027.0,
 2334.0,
 2539.0,
 1545.0,
 1230.0,
 2337.0,
 1344.0,
 1929.0,
 2149.0,
 2719.0,
 2720.0,
 2721.0,
 2722.0,
 2723.0,
 2724.0,
 2540.0,
 2541.0,
 2543.0,
 1344.0,
 1745.0,
 1030.0,
 2293.0,
 2477.0,
 1518.0,
 1521.0,
 1420.0,
 2241.0,
 1062.0,
 1247.0,
 2644.0,
 1886.0,
 1432.0,
 2035.0,
 2035.0,
 1701.0,
 1702.0,
 1703.0,
 1704.0,
 1705.0,
 1701.0,
 1701.0,
 2038.0,
 1440.0,
 2535.0,
 1833.0,
 1031.0,
 1354.0,
 1229.0,
 1550.0,
 1930.0,
 1931.0,
 1032.0,
 1519.0,
 1033.0,
 1034.0,
 1034.0,
 1230.0,
 2041.0,
 2040.0,
 1606.0,
 1301.0,
 1302.0,
 1450.0,
 1470.0,
 1471.0,
 2121.0,
 1834.0,
 1230.0,
 1035.0,
 2338.0,
 1521.0,
 1040.0,
 1041.0,
 1936.0,
 1036.0,
 1036.0,
 1237.0,
 2339.0,
 2340.0,
 1731.0,
 2341.0,
 2645.0,
 1037.0,
 1082.0,
 1230.0,
 1451.0,
 2238.0,
 2645.0,
 2646.0,
 2646.0,
 1519.0,
 2493.0,
 2536.0,
 1038.0,
 1937.0,
 1830.0,
 1831.0,
 1832.0,
 1833.0,
 1835.0,
 1339.0,
 1039.0,
 1346.0,
 2018.0,
 2043.0,
 2044.0,
 1235.0,
 1050.0,
 2343.0,
 1520.0,
 1521.0,
 1746.0,
 1040.0,
 1041.0,
 1367.0,
 1747.0,
 1748.0,
 2790.0,
 2169.0,
 1236.0,
 1452.0,
 1749.0,
 2045.0,
 2047.0,
 1050.0,
 2601.0,
 2647.0,
 2126.0,
 2136.0,
 2137.0,
 1151.0,
 1151.0,
 2139.0,
 1266.0,
 1812.0,
 5501.0,
 5544.0,
 1938.0,
 2090.0,
 2130.0,
 1522.0,
 2217.0,
 1824.0,
 2493.0,
 2142.0,
 2215.0,
 2364.0,
 1050.0,
 1805.0,
 1364.0,
 1347.0,
 2347.0,
 2348.0,
 1562.0,
 1523.0,
 1224.0,
 1237.0,
 1237.0,
 1840.0,
 1841.0,
 1842.0,
 1843.0,
 1238.0,
 1264.0,
 1053.0,
 1524.0,
 1240.0,
 1242.0,
 1453.0,
 1054.0,
 2420.0,
 2421.0,
 1301.0,
 1337.0,
 1773.0,
 1773.0,
 1525.0,
 1032.0,
 1460.0,
 1106.0,
 1116.0,
 1027.0,
 1850.0,
 1851.0,
 1852.0,
 1853.0,
 1854.0,
 1056.0,
 1462.0,
 1901.0,
 1902.0,
 1903.0,
 1904.0,
 1905.0,
 1910.0,
 1940.0,
 1930.0,
 2148.0,
 1526.0,
 1944.0,
 1944.0,
 2345.0,
 2048.0,
 1945.0,
 1263.0,
 2171.0,
 2738.0,
 1263.0,
 1752.0,
 1752.0,
 2050.0,
 2065.0,
 2051.0,
 2648.0,
 2649.0,
 1111.0,
 2204.0,
 1889.0,
 2204.0,
 2126.0,
 2739.0,
 1754.0,
 2052.0,
 2153.0,
 2155.0,
 2156.0,
 2053.0,
 1813.0,
 2176.0,
 1756.0,
 2552.0,
 1860.0,
 1844.0,
 1945.0,
 2344.0,
 2346.0,
 2348.0,
 2349.0,
 2344.0,
 2346.0,
 2348.0,
 2349.0,
 1243.0,
 1949.0,
 1757.0,
 1244.0,
 1527.0,
 1586.0,
 1349.0,
 1504.0,
 2054.0,
 1529.0,
 2186.0,
 2187.0,
 2055.0,
 2120.0,
 2350.0,
 1350.0,
 1350.0,
 1057.0,
 1351.0,
 1245.0,
 1050.0,
 1085.0,
 2553.0,
 1505.0,
 1354.0,
 1027.0,
 1258.0,
 1354.0,
 1258.0,
 1886.0,
 1908.0,
 2045.0,
 2554.0,
 2564.0,
 2584.0,
 1760.0,
 2492.0,
 2494.0,
 2494.0,
 2492.0,
 1237.0,
 2740.0,
 2741.0,
 2742.0,
 2743.0,
 2744.0,
 2745.0,
 2746.0,
 1531.0,
 1470.0,
 1471.0,
 1230.0,
 1230.0,
 1230.0,
 1355.0,
 1364.0,
 2649.0,
 2456.0,
 1922.0,
 1951.0,
 1950.0,
 1951.0,
 2456.0,
 2458.0,
 2459.0,
 2460.0,
 2461.0,
 2462.0,
 2464.0,
 2465.0,
 2466.0,
 2467.0,
 2468.0,
 2495.0,
 2459.0,
 2459.0,
 2461.0,
 2462.0,
 2464.0,
 2458.0,
 2460.0,
 2462.0,
 1247.0,
 2760.0,
 2356.0,
 1252.0,
 1360.0,
 1536.0,
 1066.0,
 1760.0,
 2171.0,
 2495.0,
 2748.0,
 2056.0,
 2171.0,
 2351.0,
 1247.0,
 1059.0,
 1845.0,
 2760.0,
 2761.0,
 2762.0,
 2763.0,
 1862.0,
 1535.0,
 2140.0,
 2355.0,
 2650.0,
 1863.0,
 1050.0,
 2747.0,
 2764.0,
 2651.0,
 2356.0,
 2357.0,
 1230.0,
 1252.0,
 2556.0,
 2565.0,
 1360.0,
 1536.0,
 1035.0,
 1060.0,
 1061.0,
 1062.0,
 1063.0,
 1066.0,
 1523.0,
 1054.0,
 2059.0,
 1760.0,
 1364.0,
 1253.0,
 1537.0,
 2358.0,
 2171.0,
 1864.0,
 1889.0,
 2060.0,
 1776.0,
 2568.0,
 2652.0,
 1538.0,
 2451.0,
 2452.0,
 2455.0,
 2191.0,
 1060.0,
 1061.0,
 1062.0,
 1063.0,
 1532.0,
 1532.0,
 1534.0,
 1360.0,
 1354.0,
 2766.0,
 2061.0,
 2062.0,
 1865.0,
 1865.0,
 2557.0,
 1583.0,
 1068.0,
 2065.0,
 2349.0,
 1031.0,
 2558.0,
 1364.0,
 1378.0,
 2653.0,
 2655.0,
 1253.0,
 2542.0,
 2542.0,
 2542.0,
 2542.0,
 1436.0,
 1540.0,
 2748.0,
 1069.0,
 1612.0,
 1960.0,
 1961.0,
 1002.0,
 2359.0,
 1463.0,
 1235.0,
 1366.0,
 1331.0,
 1966.0,
 1866.0,
 1460.0,
 1201.0,
 1202.0,
 1203.0,
 1070.0,
 2762.0,
 1950.0,
 1951.0,
 2360.0,
 2361.0,
 2362.0,
 2367.0,
 2559.0,
 2140.0,
 1965.0,
 1541.0,
 2657.0,
 2169.0,
 2170.0,
 2171.0,
 2269.0,
 2169.0,
 2368.0,
 2767.0,
 2768.0,
 1867.0,
 2136.0,
 2137.0,
 2769.0,
 2151.0,
 2151.0,
 1508.0,
 1254.0,
 1230.0,
 2458.0,
 1542.0,
 2770.0,
 1534.0,
 2370.0,
 1966.0,
 2364.0,
 2131.0,
 1367.0,
 1969.0,
 2118.0,
 2119.0,
 2120.0,
 2120.0,
 1331.0,
 1368.0,
 1071.0,
 1543.0,
 2561.0,
 2562.0,
 1970.0,
 1971.0,
 1952.0,
 1952.0,
 1550.0,
 1255.0,
 2563.0,
 1906.0,
 1560.0,
 1256.0,
 1701.0,
 2040.0,
 2055.0,
 2060.0,
 2066.0,
 2066.0,
 2066.0,
 2564.0,
 2771.0,
 2067.0,
 1340.0,
 1257.0,
 1370.0,
 1370.0,
 2070.0,
 1770.0,
 1223.0,
 1464.0,
 1464.0,
 1545.0,
 1546.0,
 1072.0,
 2564.0,
 2565.0,
 2493.0,
 2364.0,
 1230.0,
 1063.0,
 2163.0,
 2725.0,
 2726.0,
 2143.0,
 2144.0,
 2145.0,
 1002.0,
 1430.0,
 1330.0,
 2703.0,
 1074.0,
 2127.0,
 2366.0,
 2659.0,
 1824.0,
 1096.0,
 2748.0,
 1373.0,
 2660.0,
 2375.0,
 1258.0,
 1560.0,
 1075.0,
 1075.0,
 1982.0,
 2661.0,
 1561.0,
 1843.0,
 1260.0,
 1940.0,
 2649.0,
 1760.0,
 2662.0,
 2169.0,
 1368.0,
 1255.0,
 2071.0,
 2453.0,
 2663.0,
 2190.0,
 1050.0,
 2664.0,
 1073.0,
 1745.0,
 1772.0,
 1550.0,
 1259.0,
 1077.0,
 1562.0,
 1101.0,
 1102.0,
 1103.0,
 1104.0,
 1105.0,
 1106.0,
 1107.0,
 1108.0,
 1109.0,
 1111.0,
 1115.0,
 1118.0,
 1119.0,
 1128.0,
 1129.0,
 1138.0,
 1139.0,
 1144.0,
 1151.0,
 1152.0,
 1199.0,
 2171.0,
 2206.0,
 1564.0,
 1564.0,
 1467.0,
 1262.0,
 1263.0,
 2180.0,
 2357.0,
 1344.0,
 2493.0,
 2072.0,
 1775.0,
 1518.0,
 1566.0,
 1776.0,
 1375.0,
 1590.0,
 1907.0,
 2777.0,
 2348.0,
 2780.0,
 2783.0,
 2536.0,
 1468.0,
 1876.0,
 1079.0,
 1080.0,
 2568.0,
 2573.0,
 2575.0,
 1034.0,
 1983.0,
 1469.0,
 1474.0,
 2666.0,
 2153.0,
 1376.0,
 1441.0,
 1879.0,
 1879.0,
 1264.0,
 2125.0,
 1568.0,
 1569.0,
 1230.0,
 1654.0,
 1718.0,
 2568.0,
 2573.0,
 2468.0,
 1880.0,
 1081.0,
 2081.0,
 2451.0,
 2452.0,
 2453.0,
 2454.0,
 2455.0,
 2536.0,
 1835.0,
 1082.0,
 2571.0,
 1083.0,
 1364.0,
 1378.0,
 1223.0,
 2471.0,
 2472.0,
 2477.0,
 2479.0,
 1778.0,
 2340.0,
 1570.0,
 1603.0,
 2457.0,
 2481.0,
 2482.0,
 2481.0,
 2667.0,
 1379.0,
 1380.0,
 1984.0,
 1720.0,
 2668.0,
 1238.0,
 1885.0,
 1583.0,
 2379.0,
 1585.0,
 2669.0,
 1084.0,
 2573.0,
 1742.0,
 1026.0,
 1342.0,
 2670.0,
 2574.0,
 1034.0,
 1472.0,
 2339.0,
 2671.0,
 1038.0,
 1088.0,
 1339.0,
 2672.0,
 1905.0,
 ...]

In [41]:
#filter out data points to only include hives present in Massachusetts
ds1 = ds[ds.ZipCode.isin(zips)]
ds1

            Date  HiveID  ZipCode BeeCount BroodCount HoneyCount
1     2011-04-02  1862.0   1742.0        6          0          5
2     2011-04-05  1891.0   1741.0      NaN        NaN        NaN
3     2012-04-07    30.0   2116.0       28         18          0
4     2012-04-16    33.0   2118.0       20         18          8
5     2012-04-16    51.0   2537.0       20          0          0
6     2012-04-16    52.0   2537.0       20          0          0
7     2012-04-16    53.0   2537.0       20          0          0
8     2012-04-16    53.0   2537.0      NaN        NaN        NaN
9     2012-04-16    54.0   2537.0       20          0          0
10    2012-04-16    55.0   2537.0       20          0          0
11    2012-04-16    56.0   2537.0       20          0          0
12    2012-04-17    65.0   2115.0       20          0          0
13    2012-04-17    39.0   2420.0       38         23         18
14    2012-04-19    45.0   2144.0       20          0          0
15    2012-04-19    27.0   2155.0       20          0          0
16    2012-04-19    28.0   2139.0       20          0          0
17    2012-04-19    51.0   2537.0        8          0          0
18    2012-04-19    52.0   2537.0        8          0          0
19    2012-04-19    53.0   2537.0        4          0          0
20    2012-04-19    54.0   2537.0       10          0          0
21    2012-04-19    55.0   2537.0        8          0          0
22    2012-04-19    56.0   2537.0        8          0          0
23    2012-04-20    69.0   2657.0        7          1         26
24    2012-04-21    77.0   2666.0        0          0          0
25    2012-04-21    78.0   2666.0        4          0          0
26    2012-04-21    79.0   2666.0        0          0          0
27    2012-04-21    80.0   2666.0       15         10          5
28    2012-04-21    81.0   2666.0       14          4          6
29    2012-04-21    82.0   2666.0       15          6         15
30    2012-04-21    76.0   2666.0       14         11          0
...          ...     ...      ...      ...        ...        ...
43286 2020-02-27   178.0   2052.0      NaN        NaN        NaN
43287 2020-02-27  2464.0   1921.0      NaN        NaN        NaN
43288 2020-02-27  2559.0   1921.0      NaN        NaN        NaN
43289 2020-02-27   818.0   1921.0      NaN        NaN        NaN
43290 2020-02-27  2677.0   1940.0      NaN        NaN        NaN
43291 2020-02-27  1735.0   2176.0      NaN        NaN        NaN
43292 2020-02-27   454.0   2176.0      NaN        NaN        NaN
43293 2020-02-27  2608.0   2148.0      NaN        NaN        NaN
43294 2020-02-27  1499.0   2148.0      NaN        NaN        NaN
43295 2020-02-27  1739.0   2148.0      NaN        NaN        NaN
43296 2020-02-27  2534.0   2129.0      NaN        NaN        NaN
43297 2020-02-27  2469.0   2652.0      NaN        NaN        NaN
43298 2020-02-27  2467.0   2652.0      NaN        NaN        NaN
43299 2020-02-27  2419.0   2652.0      NaN        NaN        NaN
43300 2020-02-27  2420.0   2652.0      NaN        NaN        NaN
43301 2020-02-27  2692.0   2652.0      NaN        NaN        NaN
43302 2020-02-27  2468.0   2652.0      NaN        NaN        NaN
43303 2020-02-27   992.0   2666.0      NaN        NaN        NaN
43304 2020-02-27  2525.0   2666.0      NaN        NaN        NaN
43305 2020-02-27  1722.0   2053.0      NaN        NaN        NaN
43306 2020-02-27  1959.0   2090.0      NaN        NaN        NaN
43418 2020-05-05     NaN      NaN      NaN        NaN        NaN
43419 2020-11-25  2497.0   2111.0       30          0          0
43420 2020-12-06   129.0   2657.0      NaN        NaN        NaN
43421 2020-12-06  2271.0   2657.0      NaN        NaN        NaN
43422 2020-12-06  2508.0   2657.0      NaN        NaN        NaN
43423 2020-12-06  2509.0   2657.0      NaN        NaN        NaN
43424 2020-12-06  2535.0   2657.0      NaN        NaN        NaN
43425 2020-12-06    57.0   2657.0      NaN        NaN        NaN
43426 2020-12-06    71.0   2666.0       35        NaN        NaN

[32802 rows x 6 columns]

In [ ]:
#ds1.to_csv('MassData.csv',index=False)

In [42]:
43427-32802 #this is how many data points we lose

10625

In [43]:
32802/43427 #this is the percentage of data points we retain

0.7553365417827619

In [48]:
df = pd.read_csv("MassData.csv")
df

             Date  HiveID  ZipCode BeeCount BroodCount HoneyCount
0      2011-04-02  1862.0   1742.0        6          0          5
1      2011-04-05  1891.0   1741.0      NaN        NaN        NaN
2      2012-04-07    30.0   2116.0       28         18          0
3      2012-04-16    33.0   2118.0       20         18          8
4      2012-04-16    51.0   2537.0       20          0          0
5      2012-04-16    52.0   2537.0       20          0          0
6      2012-04-16    53.0   2537.0       20          0          0
7      2012-04-16    53.0   2537.0      NaN        NaN        NaN
8      2012-04-16    54.0   2537.0       20          0          0
9      2012-04-16    55.0   2537.0       20          0          0
10     2012-04-16    56.0   2537.0       20          0          0
11     2012-04-17    65.0   2115.0       20          0          0
12     2012-04-17    39.0   2420.0       38         23         18
13     2012-04-19    45.0   2144.0       20          0          0
14     2012-04-19    27.0   2155.0       20          0          0
15     2012-04-19    28.0   2139.0       20          0          0
16     2012-04-19    51.0   2537.0        8          0          0
17     2012-04-19    52.0   2537.0        8          0          0
18     2012-04-19    53.0   2537.0        4          0          0
19     2012-04-19    54.0   2537.0       10          0          0
20     2012-04-19    55.0   2537.0        8          0          0
21     2012-04-19    56.0   2537.0        8          0          0
22     2012-04-20    69.0   2657.0        7          1         26
23     2012-04-21    77.0   2666.0        0          0          0
24     2012-04-21    78.0   2666.0        4          0          0
25     2012-04-21    79.0   2666.0        0          0          0
26     2012-04-21    80.0   2666.0       15         10          5
27     2012-04-21    81.0   2666.0       14          4          6
28     2012-04-21    82.0   2666.0       15          6         15
29     2012-04-21    76.0   2666.0       14         11          0
...           ...     ...      ...      ...        ...        ...
32772  2020-02-27   178.0   2052.0      NaN        NaN        NaN
32773  2020-02-27  2464.0   1921.0      NaN        NaN        NaN
32774  2020-02-27  2559.0   1921.0      NaN        NaN        NaN
32775  2020-02-27   818.0   1921.0      NaN        NaN        NaN
32776  2020-02-27  2677.0   1940.0      NaN        NaN        NaN
32777  2020-02-27  1735.0   2176.0      NaN        NaN        NaN
32778  2020-02-27   454.0   2176.0      NaN        NaN        NaN
32779  2020-02-27  2608.0   2148.0      NaN        NaN        NaN
32780  2020-02-27  1499.0   2148.0      NaN        NaN        NaN
32781  2020-02-27  1739.0   2148.0      NaN        NaN        NaN
32782  2020-02-27  2534.0   2129.0      NaN        NaN        NaN
32783  2020-02-27  2469.0   2652.0      NaN        NaN        NaN
32784  2020-02-27  2467.0   2652.0      NaN        NaN        NaN
32785  2020-02-27  2419.0   2652.0      NaN        NaN        NaN
32786  2020-02-27  2420.0   2652.0      NaN        NaN        NaN
32787  2020-02-27  2692.0   2652.0      NaN        NaN        NaN
32788  2020-02-27  2468.0   2652.0      NaN        NaN        NaN
32789  2020-02-27   992.0   2666.0      NaN        NaN        NaN
32790  2020-02-27  2525.0   2666.0      NaN        NaN        NaN
32791  2020-02-27  1722.0   2053.0      NaN        NaN        NaN
32792  2020-02-27  1959.0   2090.0      NaN        NaN        NaN
32793  2020-05-05     NaN      NaN      NaN        NaN        NaN
32794  2020-11-25  2497.0   2111.0       30          0          0
32795  2020-12-06   129.0   2657.0      NaN        NaN        NaN
32796  2020-12-06  2271.0   2657.0      NaN        NaN        NaN
32797  2020-12-06  2508.0   2657.0      NaN        NaN        NaN
32798  2020-12-06  2509.0   2657.0      NaN        NaN        NaN
32799  2020-12-06  2535.0   2657.0      NaN        NaN        NaN
32800  2020-12-06    57.0   2657.0      NaN        NaN        NaN
32801  2020-12-06    71.0   2666.0       35        NaN        NaN

[32802 rows x 6 columns]

In [49]:
#filtering to keep data records where not all 3 counts are null
df_clean_1 = df[df.BeeCount.notnull() | df.BroodCount.notnull() | df.HoneyCount.notnull()]
df_clean_1

             Date  HiveID  ZipCode BeeCount BroodCount HoneyCount
0      2011-04-02  1862.0   1742.0        6          0          5
2      2012-04-07    30.0   2116.0       28         18          0
3      2012-04-16    33.0   2118.0       20         18          8
4      2012-04-16    51.0   2537.0       20          0          0
5      2012-04-16    52.0   2537.0       20          0          0
6      2012-04-16    53.0   2537.0       20          0          0
8      2012-04-16    54.0   2537.0       20          0          0
9      2012-04-16    55.0   2537.0       20          0          0
10     2012-04-16    56.0   2537.0       20          0          0
11     2012-04-17    65.0   2115.0       20          0          0
12     2012-04-17    39.0   2420.0       38         23         18
13     2012-04-19    45.0   2144.0       20          0          0
14     2012-04-19    27.0   2155.0       20          0          0
15     2012-04-19    28.0   2139.0       20          0          0
16     2012-04-19    51.0   2537.0        8          0          0
17     2012-04-19    52.0   2537.0        8          0          0
18     2012-04-19    53.0   2537.0        4          0          0
19     2012-04-19    54.0   2537.0       10          0          0
20     2012-04-19    55.0   2537.0        8          0          0
21     2012-04-19    56.0   2537.0        8          0          0
22     2012-04-20    69.0   2657.0        7          1         26
23     2012-04-21    77.0   2666.0        0          0          0
24     2012-04-21    78.0   2666.0        4          0          0
25     2012-04-21    79.0   2666.0        0          0          0
26     2012-04-21    80.0   2666.0       15         10          5
27     2012-04-21    81.0   2666.0       14          4          6
28     2012-04-21    82.0   2666.0       15          6         15
29     2012-04-21    76.0   2666.0       14         11          0
30     2012-04-21    73.0   2666.0       10         13          5
31     2012-04-21    74.0   2666.0       10          0          1
...           ...     ...      ...      ...        ...        ...
32628  2020-02-19  2404.0   1545.0      NaN        NaN         10
32629  2020-02-19  2274.0   1590.0      NaN        NaN          7
32634  2020-02-19  1514.0   2339.0      NaN        NaN          0
32637  2020-02-19  1948.0   2332.0      NaN        NaN          1
32638  2020-02-19   520.0   2050.0      NaN        NaN          0
32639  2020-02-19   472.0   2050.0      NaN        NaN          2
32647  2020-02-19  1508.0   1778.0      NaN        NaN          5
32648  2020-02-19   562.0   1778.0      NaN        NaN          8
32649  2020-02-19  2242.0   1778.0      NaN        NaN          8
32655  2020-02-19  1038.0   1772.0      NaN        NaN          6
32656  2020-02-19  2669.0   2118.0      NaN        NaN          1
32661  2020-02-20  2684.0   1915.0      NaN        NaN          5
32665  2020-02-20   870.0   1930.0      NaN        NaN         15
32666  2020-02-20  1768.0   1930.0      NaN        NaN         12
32672  2020-02-20    94.0   2144.0      NaN        NaN         22
32673  2020-02-20  2640.0   2144.0      NaN        NaN          4
32675  2020-02-20  2308.0   2155.0      NaN        NaN          4
32676  2020-02-20  1957.0   1890.0      NaN        NaN          8
32677  2020-02-20  2649.0   2176.0      NaN        NaN          5
32678  2020-02-20  1416.0   2176.0      NaN        NaN         11
32679  2020-02-20  2266.0   2148.0      NaN        NaN         22
32680  2020-02-20   508.0   2148.0      NaN        NaN         19
32681  2020-02-20  2555.0   2109.0      NaN        NaN          5
32682  2020-02-20   512.0   2110.0      NaN        NaN          4
32683  2020-02-20   511.0   2110.0      NaN        NaN          5
32684  2020-02-20   510.0   2110.0      NaN        NaN          1
32685  2020-02-20   280.0   2210.0      NaN        NaN          4
32686  2020-02-20   282.0   2210.0      NaN        NaN          2
32794  2020-11-25  2497.0   2111.0       30          0          0
32801  2020-12-06    71.0   2666.0       35        NaN        NaN

[22769 rows x 6 columns]

In [50]:
#filtering to get rid of any data points with a "?" count present
df_clean_2 = df_clean_1[(df_clean_1.BeeCount != "?")& (df_clean_1.BroodCount != "?") & (df_clean_1.HoneyCount != "?")]
df_clean_2

             Date  HiveID  ZipCode BeeCount BroodCount HoneyCount
0      2011-04-02  1862.0   1742.0        6          0          5
2      2012-04-07    30.0   2116.0       28         18          0
3      2012-04-16    33.0   2118.0       20         18          8
4      2012-04-16    51.0   2537.0       20          0          0
5      2012-04-16    52.0   2537.0       20          0          0
6      2012-04-16    53.0   2537.0       20          0          0
8      2012-04-16    54.0   2537.0       20          0          0
9      2012-04-16    55.0   2537.0       20          0          0
10     2012-04-16    56.0   2537.0       20          0          0
11     2012-04-17    65.0   2115.0       20          0          0
12     2012-04-17    39.0   2420.0       38         23         18
13     2012-04-19    45.0   2144.0       20          0          0
14     2012-04-19    27.0   2155.0       20          0          0
15     2012-04-19    28.0   2139.0       20          0          0
16     2012-04-19    51.0   2537.0        8          0          0
17     2012-04-19    52.0   2537.0        8          0          0
18     2012-04-19    53.0   2537.0        4          0          0
19     2012-04-19    54.0   2537.0       10          0          0
20     2012-04-19    55.0   2537.0        8          0          0
21     2012-04-19    56.0   2537.0        8          0          0
22     2012-04-20    69.0   2657.0        7          1         26
23     2012-04-21    77.0   2666.0        0          0          0
24     2012-04-21    78.0   2666.0        4          0          0
25     2012-04-21    79.0   2666.0        0          0          0
26     2012-04-21    80.0   2666.0       15         10          5
27     2012-04-21    81.0   2666.0       14          4          6
28     2012-04-21    82.0   2666.0       15          6         15
29     2012-04-21    76.0   2666.0       14         11          0
30     2012-04-21    73.0   2666.0       10         13          5
31     2012-04-21    74.0   2666.0       10          0          1
...           ...     ...      ...      ...        ...        ...
32628  2020-02-19  2404.0   1545.0      NaN        NaN         10
32629  2020-02-19  2274.0   1590.0      NaN        NaN          7
32634  2020-02-19  1514.0   2339.0      NaN        NaN          0
32637  2020-02-19  1948.0   2332.0      NaN        NaN          1
32638  2020-02-19   520.0   2050.0      NaN        NaN          0
32639  2020-02-19   472.0   2050.0      NaN        NaN          2
32647  2020-02-19  1508.0   1778.0      NaN        NaN          5
32648  2020-02-19   562.0   1778.0      NaN        NaN          8
32649  2020-02-19  2242.0   1778.0      NaN        NaN          8
32655  2020-02-19  1038.0   1772.0      NaN        NaN          6
32656  2020-02-19  2669.0   2118.0      NaN        NaN          1
32661  2020-02-20  2684.0   1915.0      NaN        NaN          5
32665  2020-02-20   870.0   1930.0      NaN        NaN         15
32666  2020-02-20  1768.0   1930.0      NaN        NaN         12
32672  2020-02-20    94.0   2144.0      NaN        NaN         22
32673  2020-02-20  2640.0   2144.0      NaN        NaN          4
32675  2020-02-20  2308.0   2155.0      NaN        NaN          4
32676  2020-02-20  1957.0   1890.0      NaN        NaN          8
32677  2020-02-20  2649.0   2176.0      NaN        NaN          5
32678  2020-02-20  1416.0   2176.0      NaN        NaN         11
32679  2020-02-20  2266.0   2148.0      NaN        NaN         22
32680  2020-02-20   508.0   2148.0      NaN        NaN         19
32681  2020-02-20  2555.0   2109.0      NaN        NaN          5
32682  2020-02-20   512.0   2110.0      NaN        NaN          4
32683  2020-02-20   511.0   2110.0      NaN        NaN          5
32684  2020-02-20   510.0   2110.0      NaN        NaN          1
32685  2020-02-20   280.0   2210.0      NaN        NaN          4
32686  2020-02-20   282.0   2210.0      NaN        NaN          2
32794  2020-11-25  2497.0   2111.0       30          0          0
32801  2020-12-06    71.0   2666.0       35        NaN        NaN

[22616 rows x 6 columns]

In [51]:
#filtering any data point where all 3 counts are 0
df_clean_3 = df_clean_2[(df_clean_2.BeeCount != "0") & (df_clean_2.BroodCount != "0") & (df_clean_2.HoneyCount != "0")]
df_clean_3

             Date  HiveID  ZipCode BeeCount BroodCount HoneyCount
3      2012-04-16    33.0   2118.0       20         18          8
12     2012-04-17    39.0   2420.0       38         23         18
22     2012-04-20    69.0   2657.0        7          1         26
26     2012-04-21    80.0   2666.0       15         10          5
27     2012-04-21    81.0   2666.0       14          4          6
28     2012-04-21    82.0   2666.0       15          6         15
30     2012-04-21    73.0   2666.0       10         13          5
33     2012-04-21    71.0   2666.0        2          1          1
39     2012-04-24    29.0   1984.0       30         14         17
46     2012-04-29    36.0      NaN        3          2          9
54     2012-05-07    39.0   2420.0       45        NaN        NaN
68     2012-05-08    35.0   2186.0       46         30          7
71     2012-05-15    68.0   1929.0        4          1          1
74     2012-05-16    37.0   1966.0        5          2          4
75     2012-05-16    29.0   1984.0       39         18         18
77     2012-05-18    62.0   1879.0       18          8         15
78     2012-05-18    63.0   1879.0       50         14          6
79     2012-05-18    64.0   1879.0        7          4         10
85     2012-05-25    69.0   2657.0       14         10         14
89     2012-05-25    80.0   2666.0       40         35          8
90     2012-05-25    81.0   2666.0       22         12          8
91     2012-05-25    82.0   2666.0       20         10          4
92     2012-05-25    36.0      NaN        6          7          8
94     2012-05-25    26.0   2657.0        8          7          4
98     2012-05-25    54.0   2537.0       16         12          1
105    2012-05-31    37.0   1966.0        1          1          5
106    2012-05-31    67.0   1930.0       17          3          5
107    2012-05-31    68.0   1929.0        7          5          3
108    2012-05-31    29.0   1984.0       40         15         20
109    2012-05-31    30.0   2116.0       52         28         26
...           ...     ...      ...      ...        ...        ...
32613  2020-02-18  1362.0   2421.0      NaN        NaN          9
32614  2020-02-18  1755.0   1742.0      NaN        NaN         15
32627  2020-02-19  2631.0   1543.0      NaN        NaN          6
32628  2020-02-19  2404.0   1545.0      NaN        NaN         10
32629  2020-02-19  2274.0   1590.0      NaN        NaN          7
32637  2020-02-19  1948.0   2332.0      NaN        NaN          1
32639  2020-02-19   472.0   2050.0      NaN        NaN          2
32647  2020-02-19  1508.0   1778.0      NaN        NaN          5
32648  2020-02-19   562.0   1778.0      NaN        NaN          8
32649  2020-02-19  2242.0   1778.0      NaN        NaN          8
32655  2020-02-19  1038.0   1772.0      NaN        NaN          6
32656  2020-02-19  2669.0   2118.0      NaN        NaN          1
32661  2020-02-20  2684.0   1915.0      NaN        NaN          5
32665  2020-02-20   870.0   1930.0      NaN        NaN         15
32666  2020-02-20  1768.0   1930.0      NaN        NaN         12
32672  2020-02-20    94.0   2144.0      NaN        NaN         22
32673  2020-02-20  2640.0   2144.0      NaN        NaN          4
32675  2020-02-20  2308.0   2155.0      NaN        NaN          4
32676  2020-02-20  1957.0   1890.0      NaN        NaN          8
32677  2020-02-20  2649.0   2176.0      NaN        NaN          5
32678  2020-02-20  1416.0   2176.0      NaN        NaN         11
32679  2020-02-20  2266.0   2148.0      NaN        NaN         22
32680  2020-02-20   508.0   2148.0      NaN        NaN         19
32681  2020-02-20  2555.0   2109.0      NaN        NaN          5
32682  2020-02-20   512.0   2110.0      NaN        NaN          4
32683  2020-02-20   511.0   2110.0      NaN        NaN          5
32684  2020-02-20   510.0   2110.0      NaN        NaN          1
32685  2020-02-20   280.0   2210.0      NaN        NaN          4
32686  2020-02-20   282.0   2210.0      NaN        NaN          2
32801  2020-12-06    71.0   2666.0       35        NaN        NaN

[17161 rows x 6 columns]

In [ ]:
#df_clean_3.to_csv("MassDataClean.csv", index=False)

In [53]:
d = pd.read_csv("MassDataClean.csv")
d

            Date  HiveID  ZipCode  BeeCount  BroodCount  HoneyCount
0      4/16/2012    33.0   2118.0      20.0        18.0         8.0
1      4/17/2012    39.0   2420.0      38.0        23.0        18.0
2      4/20/2012    69.0   2657.0       7.0         1.0        26.0
3      4/21/2012    80.0   2666.0      15.0        10.0         5.0
4      4/21/2012    81.0   2666.0      14.0         4.0         6.0
5      4/21/2012    82.0   2666.0      15.0         6.0        15.0
6      4/21/2012    73.0   2666.0      10.0        13.0         5.0
7      4/21/2012    71.0   2666.0       2.0         1.0         1.0
8      4/24/2012    29.0   1984.0      30.0        14.0        17.0
9      4/29/2012    36.0      NaN       3.0         2.0         9.0
10      5/7/2012    39.0   2420.0      45.0         NaN         NaN
11      5/8/2012    35.0   2186.0      46.0        30.0         7.0
12     5/15/2012    68.0   1929.0       4.0         1.0         1.0
13     5/16/2012    37.0   1966.0       5.0         2.0         4.0
14     5/16/2012    29.0   1984.0      39.0        18.0        18.0
15     5/18/2012    62.0   1879.0      18.0         8.0        15.0
16     5/18/2012    63.0   1879.0      50.0        14.0         6.0
17     5/18/2012    64.0   1879.0       7.0         4.0        10.0
18     5/25/2012    69.0   2657.0      14.0        10.0        14.0
19     5/25/2012    80.0   2666.0      40.0        35.0         8.0
20     5/25/2012    81.0   2666.0      22.0        12.0         8.0
21     5/25/2012    82.0   2666.0      20.0        10.0         4.0
22     5/25/2012    36.0      NaN       6.0         7.0         8.0
23     5/25/2012    26.0   2657.0       8.0         7.0         4.0
24     5/25/2012    54.0   2537.0      16.0        12.0         1.0
25     5/31/2012    37.0   1966.0       1.0         1.0         5.0
26     5/31/2012    67.0   1930.0      17.0         3.0         5.0
27     5/31/2012    68.0   1929.0       7.0         5.0         3.0
28     5/31/2012    29.0   1984.0      40.0        15.0        20.0
29     5/31/2012    30.0   2116.0      52.0        28.0        26.0
...          ...     ...      ...       ...         ...         ...
17131  2/18/2020  1958.0   2421.0       NaN         NaN         8.0
17132  2/18/2020  1362.0   2421.0       NaN         NaN         9.0
17133  2/18/2020  1755.0   1742.0       NaN         NaN        15.0
17134  2/19/2020  2631.0   1543.0       NaN         NaN         6.0
17135  2/19/2020  2404.0   1545.0       NaN         NaN        10.0
17136  2/19/2020  2274.0   1590.0       NaN         NaN         7.0
17137  2/19/2020  1948.0   2332.0       NaN         NaN         1.0
17138  2/19/2020   472.0   2050.0       NaN         NaN         2.0
17139  2/19/2020  1508.0   1778.0       NaN         NaN         5.0
17140  2/19/2020   562.0   1778.0       NaN         NaN         8.0
17141  2/19/2020  2242.0   1778.0       NaN         NaN         8.0
17142  2/19/2020  1038.0   1772.0       NaN         NaN         6.0
17143  2/19/2020  2669.0   2118.0       NaN         NaN         1.0
17144  2/20/2020  2684.0   1915.0       NaN         NaN         5.0
17145  2/20/2020   870.0   1930.0       NaN         NaN        15.0
17146  2/20/2020  1768.0   1930.0       NaN         NaN        12.0
17147  2/20/2020    94.0   2144.0       NaN         NaN        22.0
17148  2/20/2020  2640.0   2144.0       NaN         NaN         4.0
17149  2/20/2020  2308.0   2155.0       NaN         NaN         4.0
17150  2/20/2020  1957.0   1890.0       NaN         NaN         8.0
17151  2/20/2020  2649.0   2176.0       NaN         NaN         5.0
17152  2/20/2020  1416.0   2176.0       NaN         NaN        11.0
17153  2/20/2020  2266.0   2148.0       NaN         NaN        22.0
17154  2/20/2020   508.0   2148.0       NaN         NaN        19.0
17155  2/20/2020  2555.0   2109.0       NaN         NaN         5.0
17156  2/20/2020   512.0   2110.0       NaN         NaN         4.0
17157  2/20/2020   511.0   2110.0       NaN         NaN         5.0
17158  2/20/2020   510.0   2110.0       NaN         NaN         1.0
17159  2/20/2020   280.0   2210.0       NaN         NaN         4.0
17160  2/20/2020   282.0   2210.0       NaN         NaN         2.0

[17161 rows x 6 columns]

In [54]:
#filtering out any data points that doesn't have a zip code
d2 = d[d.ZipCode.notnull()]
d2

            Date  HiveID  ZipCode  BeeCount  BroodCount  HoneyCount
0      4/16/2012    33.0   2118.0      20.0        18.0         8.0
1      4/17/2012    39.0   2420.0      38.0        23.0        18.0
2      4/20/2012    69.0   2657.0       7.0         1.0        26.0
3      4/21/2012    80.0   2666.0      15.0        10.0         5.0
4      4/21/2012    81.0   2666.0      14.0         4.0         6.0
5      4/21/2012    82.0   2666.0      15.0         6.0        15.0
6      4/21/2012    73.0   2666.0      10.0        13.0         5.0
7      4/21/2012    71.0   2666.0       2.0         1.0         1.0
8      4/24/2012    29.0   1984.0      30.0        14.0        17.0
10      5/7/2012    39.0   2420.0      45.0         NaN         NaN
11      5/8/2012    35.0   2186.0      46.0        30.0         7.0
12     5/15/2012    68.0   1929.0       4.0         1.0         1.0
13     5/16/2012    37.0   1966.0       5.0         2.0         4.0
14     5/16/2012    29.0   1984.0      39.0        18.0        18.0
15     5/18/2012    62.0   1879.0      18.0         8.0        15.0
16     5/18/2012    63.0   1879.0      50.0        14.0         6.0
17     5/18/2012    64.0   1879.0       7.0         4.0        10.0
18     5/25/2012    69.0   2657.0      14.0        10.0        14.0
19     5/25/2012    80.0   2666.0      40.0        35.0         8.0
20     5/25/2012    81.0   2666.0      22.0        12.0         8.0
21     5/25/2012    82.0   2666.0      20.0        10.0         4.0
23     5/25/2012    26.0   2657.0       8.0         7.0         4.0
24     5/25/2012    54.0   2537.0      16.0        12.0         1.0
25     5/31/2012    37.0   1966.0       1.0         1.0         5.0
26     5/31/2012    67.0   1930.0      17.0         3.0         5.0
27     5/31/2012    68.0   1929.0       7.0         5.0         3.0
28     5/31/2012    29.0   1984.0      40.0        15.0        20.0
29     5/31/2012    30.0   2116.0      52.0        28.0        26.0
30     5/31/2012    33.0   2118.0      60.0        48.0        24.0
31      6/1/2012    58.0   1778.0      14.0        12.0         3.0
...          ...     ...      ...       ...         ...         ...
17131  2/18/2020  1958.0   2421.0       NaN         NaN         8.0
17132  2/18/2020  1362.0   2421.0       NaN         NaN         9.0
17133  2/18/2020  1755.0   1742.0       NaN         NaN        15.0
17134  2/19/2020  2631.0   1543.0       NaN         NaN         6.0
17135  2/19/2020  2404.0   1545.0       NaN         NaN        10.0
17136  2/19/2020  2274.0   1590.0       NaN         NaN         7.0
17137  2/19/2020  1948.0   2332.0       NaN         NaN         1.0
17138  2/19/2020   472.0   2050.0       NaN         NaN         2.0
17139  2/19/2020  1508.0   1778.0       NaN         NaN         5.0
17140  2/19/2020   562.0   1778.0       NaN         NaN         8.0
17141  2/19/2020  2242.0   1778.0       NaN         NaN         8.0
17142  2/19/2020  1038.0   1772.0       NaN         NaN         6.0
17143  2/19/2020  2669.0   2118.0       NaN         NaN         1.0
17144  2/20/2020  2684.0   1915.0       NaN         NaN         5.0
17145  2/20/2020   870.0   1930.0       NaN         NaN        15.0
17146  2/20/2020  1768.0   1930.0       NaN         NaN        12.0
17147  2/20/2020    94.0   2144.0       NaN         NaN        22.0
17148  2/20/2020  2640.0   2144.0       NaN         NaN         4.0
17149  2/20/2020  2308.0   2155.0       NaN         NaN         4.0
17150  2/20/2020  1957.0   1890.0       NaN         NaN         8.0
17151  2/20/2020  2649.0   2176.0       NaN         NaN         5.0
17152  2/20/2020  1416.0   2176.0       NaN         NaN        11.0
17153  2/20/2020  2266.0   2148.0       NaN         NaN        22.0
17154  2/20/2020   508.0   2148.0       NaN         NaN        19.0
17155  2/20/2020  2555.0   2109.0       NaN         NaN         5.0
17156  2/20/2020   512.0   2110.0       NaN         NaN         4.0
17157  2/20/2020   511.0   2110.0       NaN         NaN         5.0
17158  2/20/2020   510.0   2110.0       NaN         NaN         1.0
17159  2/20/2020   280.0   2210.0       NaN         NaN         4.0
17160  2/20/2020   282.0   2210.0       NaN         NaN         2.0

[16878 rows x 6 columns]

In [ ]:
#d2.to_csv("NewMassDataClean.csv", index=False)

#THIS dataset is our final dataset that we use in our visalization